/* .btn{
    color: red !important;
    font-size: 25px !important;

} */



/* .main{
    font-size: 25px !important;
} */



/* .cardbg{
    background-color: blue;
    color: white !important;
} */



.main{
    background-color: orange;
    color: white;
}